$icomoon-font-family: "uicon" !default;
$icomoon-font-path: "fonts" !default;

$icon_filter2: "\e93c";
$icon_exclamation: "\e93b";
$icon_return: "\e938";
$icon_direct_assign: "\e939";
$icon_assign_with_paper: "\e93a";
$icon_actions2: "\e934";
$icon_folder16: "\e935";
$icon_folder17: "\e936";
$icon_folder18: "\e937";
$icon_paths: "\e933";
$icon_folder15: "\e932";
$icon_folder6: "\e929";
$icon_folder7: "\e92a";
$icon_folder8: "\e92b";
$icon_folder9: "\e92c";
$icon_folder10: "\e92d";
$icon_folder11: "\e92e";
$icon_folder12: "\e92f";
$icon_folder13: "\e930";
$icon_folder14: "\e931";
$icon_eye-dashed: "\e928";
$icon_save: "\e927";
$icon_printer: "\e926";
$icon_folder5: "\e904";
$icon_folder3: "\e905";
$icon_folder1: "\e906";
$icon_folder2: "\e924";
$icon_folder4: "\e925";
$icon_arrow_down: "\e900";
$icon_arrow_left: "\e901";
$icon_arrow_right: "\e902";
$icon_attachment_plus: "\e903";
$icon_attachments: "\e907";
$icon_barcode: "\e908";
$icon_burger: "\e909";
$icon_calendar: "\e90a";
$icon_cards: "\e90b";
$icon_close: "\e90c";
$icon_comments: "\e90d";
$icon_copy: "\e90e";
$icon_edit: "\e90f";
$icon_edit2: "\e910";
$icon_exit: "\e911";
$icon_eye: "\e912";
$icon_filter: "\e913";
$icon_menu1: "\e914";
$icon_menu2: "\e915";
$icon_menu3: "\e916";
$icon_menu4: "\e917";
$icon_menu5: "\e918";
$icon_order: "\e919";
$icon_recycle: "\e91a";
$icon_refresh_right: "\e91b";
$icon_refresh-left: "\e91c";
$icon_scan: "\e91d";
$icon_screen: "\e91e";
$icon_search: "\e91f";
$icon_table: "\e920";
$icon_zoom-in: "\e921";
$icon_zoom-out: "\e922";
$icon_arrow_down1: "\e923";

